# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
config/initializers/secret_token.rb
vendor/engines/employee/test/dummy/README.rdoc
vendor/engines/employee/test/dummy/config/initializers/secret_token.rb
vendor/engines/employee/test/dummy/config/mongoid.yml
vendor/engines/employee/test/dummy/log/*.log
vendor/engines/employee/test/dummy/tmp
